.container {
  img {
    display: block;
    margin: 0 auto;
  }
}

.caption {
  margin: 0;
  font-weight: 500;

  p {
    margin: 0;
  }

  p + p {
    margin-top: 8px;
  }
}

.captionCopyright {
  font-weight: 400;
}
