.container {
  img {
    display: block;
    object-position: center center;
    object-fit: contain;
    height: 100%;
    width: 100%;
  }
}

.caption {
  margin: 0;
  font-weight: 500;

  p {
    margin: 0;
  }

  p + p {
    margin-top: 8px;
  }
}

.captionCopyright {
  font-weight: 400;
}
