.container {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 14px;

  @media (min-width: 740px) {
    padding: 8px 20px;
    min-height: 66px;
  }
}

.content {
  display: none;

  @media (min-width: 740px) {
    display: block;
  }
}

.backButton {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  display: none;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-bg-depth-2);
  background-color: transparent;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  stroke: var(--color-brand);
  margin-right: 15px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;

  @media (min-width: 740px) {
    display: flex;
  }

  &:hover {
    border-color: var(--color-brand-light);

    svg {
      stroke: var(--color-brand-light);
    }
  }

  svg {
    display: block;
  }
}

.title {
  font-weight: 700;
}

.nav {
  position: absolute;
  z-index: 1000;
  bottom: 12px;
  right: 12px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  a {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  }

  @media (min-width: 740px) {
    position: relative;
    bottom: auto;
    right: auto;

    a {
      box-shadow: none;
    }
  }

  a + a,
  a + button,
  button + button {
    margin-left: 10px;
  }
}
