.container {
  position: relative;
  display: flex;
  padding: 22px 75px 26px 35px;
  border-bottom: 1px solid var(--color-border);

  &:hover,
  &:hover .expandButton {
    background-color: var(--color-bg-depth-1);
  }

  &:global(.work-page-container):hover {
    background-color: transparent;
  }

  &:global(.is-expanded) {
    padding-bottom: 52px;
  }
}

.container--full {
  padding: 22px 20px 26px 20px;
}

.media {
  flex: 0 0 200px;
  margin-right: 20px;
  font-size: 14px;
  color: var(--color-text);

  .container--full & {
    flex: 0 0 260px;
    margin-right: 40px;
  }

  p {
    text-align: center;
  }
}

.body {
  flex: 1 1 auto;

  section + section {
    margin-top: 24px;
  }
}

.extra {
  flex: 0 0 185px;
  margin-left: 40px;

  .container--full & {
    flex: 0 0 260px;
  }
}

.expandButton {
  position: absolute;
  z-index: 10;
  width: 40px;
  height: 22px;
  right: 22px;
  bottom: -22px;
  background-color: white;
  border: 1px solid var(--color-border);
  border-top: 0;
  stroke: var(--color-brand);
  border-radius: 0 0 6px 6px;
  cursor: pointer;

  &:hover svg {
    stroke: var(--color-brand-light);
  }

  .container:global(.is-expanded) & svg {
    transform: rotate(180deg);
    transform-origin: 50% 50%;
  }

  svg {
    position: relative;
    top: -2px;
  }
}

.onlineCopy {
  margin: 12px 0;

  a {
    text-decoration: underline;
  }
}

.translations {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li p {
    display: inline-block;
  }
}
