.dates {
  text-align: center;
  color: var(--color-text-subtle);
  font-size: 18px;
  font-weight: 500;
}

.biographicalNote {
  margin: 30px auto 100px;
  max-width: 70ch;
}

.works {
  margin: 100px 0;
  text-align: center;

  :global(.modal) & {
    padding: 0 8vw;
  }

  @media (min-width: 980px) {
    :global(.modal) & {
      padding: 0 190px;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0;

    & + li {
      margin-top: 10px;
    }
  }
}

.ids {
  :global(.modal) & {
    padding: 0 8vw;
  }

  @media (min-width: 980px) {
    :global(.modal) & {
      padding: 0 190px;
    }
  }
}

.image {
  margin: 0 auto;

  img {
    max-width: 100%;
  }
}

.caption {
  color: var(--color-text-inactive);
  text-align: left;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.4;
  margin: 15px 0 0;
  padding: 0;
  max-width: 70ch;
  margin: 0 auto;
}

.captionCopyright {
  font-weight: 400;
}
