.dates {
  text-align: center;
  color: var(--color-text-subtle);
  font-size: 18px;
  font-weight: 500;
}

.biographicalNote {
  margin-top: 30px;
  margin-bottom: 100px;

  p > a {
    text-decoration: none;
    color: var(--color-brand);

    &:hover {
      color: var(--color-brand-light);
    }
  }
}

.works {
  margin: 100px 0;
  text-align: center;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0;

    & + li {
      margin-top: 10px;
    }
  }
}
