.dates {
  text-align: center;
  color: var(--color-text-subtle);
  font-size: 18px;
  font-weight: 500;
}

.biographicalNote {
  margin-top: 30px;
  margin-bottom: 100px;
}

.works {
  margin: 100px 0;
  text-align: center;
}

.intertitle {
  font-family: var(--ff-serif);
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 60px;
}
