.link {
  display: flex;
  align-items: center;
  background-color: var(--color-brand);
  padding: 6px 20px;
  border-radius: 20px;
  color: white;
  transition: background-color 0.15s ease-in-out;

  &:hover {
    background-color: var(--color-brand-light);
    color: white;
  }

  &[data-inverse='true'] {
    background-color: var(--color-bg-depth-1);
    color: var(--color-text);

    &:hover {
      color: var(--color-brand-light);
    }
  }
}

.icon {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 8px;

  svg {
    fill: currentColor;
  }
}
