.container {
  display: inline-block;
  position: relative;
  margin: 0 4px;

  > button {
    cursor: pointer;
    background-color: rgba(217, 217, 217, 0.4);
    border-radius: 7px;
    border: 0;
    padding: 7px 6px;
    fill: var(--color-text);
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: rgba(128, 128, 151, 0.3);
    }

    svg {
      width: 8px;
      height: 8px;
    }
  }
}

.menu {
  position: absolute;
  right: 0;
  z-index: 500;
  margin-top: 8px;
  background-color: white;
  border-radius: 7px;
  visibility: hidden;
  display: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.menu.isOpen {
  visibility: visible;
  display: block;
}

.menuItem {
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  padding: 8px 14px;
  border: 0;
  background-color: transparent;
  color: var(--color-text-inactive);
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;

  &:hover {
    color: var(--color-text-subtle);
    background-color: var(--color-bg-depth-2);
  }

  .menu :global([role='menuitem']):first-child & {
    border-radius: 7px 7px 0 0;
  }

  .menu :global([role='menuitem']):last-child & {
    border-radius: 0 0 7px 7px;
  }

  svg {
    fill: currentColor;
    margin-right: 14px;
    width: 16px;
    height: 16px;
  }
}
