.container {
  display: inline-block;
  position: relative;
  margin: 0 4px;
}

.menu,
.menuAdvanced {
  z-index: var(--z-index-dropdown);
  background-color: white;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.menu {
  position: absolute;
  right: 0;
  margin-top: 8px;
}

.menuItem {
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  padding: 8px 14px;
  border: 0;
  background-color: transparent;
  color: var(--color-text-inactive);
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;

  &:hover {
    color: var(--color-text-subtle);
    background-color: var(--color-bg-depth-2);
  }

  .menu :global([role='menuitem']):first-child &,
  .menuAdvanced &:first-child {
    border-radius: 7px 7px 0 0;
  }

  .menu :global([role='menuitem']):last-child &,
  .menuAdvanced &:last-child {
    border-radius: 0 0 7px 7px;
  }

  svg {
    fill: currentColor;
    margin-right: 14px;
    width: 16px;
    height: 16px;
  }
}
