.container {
  margin-bottom: 100px;
  max-width: 500px;
  margin: 0 auto;
  text-align: left;

  img {
    display: block;
    max-width: 100%;
  }

  img + figcaption {
    margin-top: 15px;
  }

  figcaption {
    font-size: 13px;
    font-weight: 500;
    color: var(--color-text-subtle);

    span {
      font-weight: 400;
    }
  }
}
