.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--color-brand);
  color: white;
  width: 100%;

  &.isOpen {
    width: 290px;
  }
}

.header {
  padding: 18px 8px 12px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 36px;

  .container.isOpen & {
    padding-right: 12px;
    flex-direction: row;
    justify-content: space-between;
    width: 290px;
  }
}

.content {
  flex: 1 1 auto;
  padding: 0 22px 28px 12px;
  overflow: auto;

  > div:last-child {
    margin-bottom: 240px;
  }
}

.eraseButton {
  display: block;
  padding: 3px 10px;
  font-size: 13px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  color: white;
  border: 0;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: var(--color-brand);
  }
}

.closeButton {
  display: block;
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transform: rotate(180deg);
  transform-origin: 50% 50%;

  .container.isOpen & {
    transform: rotate(0deg);
  }

  .eraseButton + & {
    margin-left: 10px;
  }

  .icon + & {
    margin-top: 4px;
  }

  svg {
    width: 16px;
    height: 16px;
    fill: none;
    stroke: white;
    stroke-width: 2.5px;
  }

  &:hover svg {
    stroke: rgba(255, 255, 255, 0.75);
  }
}

.title {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.icon {
  position: relative;
  width: 20px;
  height: 20px;

  svg {
    width: 100%;
    height: 100%;
    fill: rgba(255, 255, 255, 0.6);
  }

  .title + & {
    margin-left: 8px;
  }

  .iconCount {
    position: absolute;
    top: 2px;
    right: -6px;
    transform: translate(50%, -50%);
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #ffecbd;
    color: var(--color-text);
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    line-height: 1.3;
  }
}

.spacer {
  flex: 1 1 auto;
}
