.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  height: 100%;
  background-color: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.logo {
  flex: 0 0 auto;
  font-size: 18px;
  margin: 0;
}

.nav {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0;
    padding: 0;

    & + li {
      margin-left: 16px;
    }
  }

  a {
    text-decoration: none;
    color: var(--color-brand);

    &:hover {
      color: var(--color-brand-light);
    }
  }
}

.spacer {
  flex: 1 1 auto;
}

.language-selector {
  flex: 0 0 auto;
}
