.container {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0 0 16px 0;
  padding: 0;
  list-style-type: none;
}

.keyword,
.tag {
  padding: 6px 11px;
  border-radius: 15px;
  margin: 0 8px 8px 0;
  font-size: 15px;
  line-height: 1.1;
  border: 1px solid var(--color-text-inactive);
  cursor: default;
  transition: all 0.15s ease-in-out;

  .container[data-fill='true'] & {
    color: var(--color-brand);
    background-color: var(--color-bg-depth-2);
    border-color: transparent;
  }
}

.tag {
  &:hover {
    color: var(--color-brand-light);
    border-color: currentColor;
  }

  .container[data-fill='true'] & {
    color: var(--color-brand);
    background-color: var(--color-bg-depth-2);
    border-color: transparent;

    &:hover {
      color: white;
      background-color: var(--color-brand-light);
      border-color: transparent;
    }
  }
}
