.container {
  margin: 0 8px 0 0;
  font-size: 14px;
  list-style-type: none;

  li {
    text-transform: uppercase;
    display: inline-block;
    color: var(--color-text-inactive);

    & + li {
      margin-left: 14px;
    }

    &:hover,
    &:global(.is-current) {
      color: var(--color-text);
    }

    &:global(.is-current) {
      font-weight: 700;
    }
  }
}

.container--inverse {
  li {
    color: var(--color-scale-3);

    &:hover,
    &:global(.is-current) {
      color: var(--color-scale-1);
    }
  }
}
