.container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  height: 100%;
}

.header {
  flex: 0 0 78px;
}

.content {
  display: flex;
  justify-content: stretch;
  height: calc(100% - 90px);
  flex: 1 1 auto;
}

.aside {
  position: relative;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  flex: 1 1 auto;
  height: 100%;
}
