.container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  height: 100%;
}

.header {
  flex: 0 0 80px;
}

.content {
  position: relative;
  display: flex;
  justify-content: stretch;
  height: calc(100% - 80px);
  flex: 1 1 auto;
}

.aside {
  position: relative;

  @media (max-width: 899px) {
    position: absolute;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
    z-index: var(--z-index-aside);
    top: 0;
    bottom: 0;
    left: 0;
  }
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  flex: 1 1 auto;
  height: 100%;
  margin-bottom: 1rem;

  .aside + & {
    @media (max-width: 899px) {
      padding-left: 36px;
    }
  }
}
