.modal {
  position: absolute;
  max-width: 1060px;
  width: 100%;
  z-index: var(--z-index-modal);
  left: 50%;
  overflow: auto;
  display: inline-block;
  margin-top: 20px;
  background-color: white;
  transform: translateX(-50%);
  border-radius: 7px;

  &:focus {
    outline: none;
  }

  .has-modal-scroll & {
    overflow: visible;
  }

  .has-body-scroll & {
    max-height: calc(100vh - 30px);
  }
}

.overlay {
  position: absolute;
  z-index: var(--z-index-modal);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-modal-overlay);

  &.has-modal-scroll {
    overflow: auto;
  }
}

.closeButton {
  position: absolute;
  top: 28px;
  right: 20px;
  background-color: transparent;
  stroke: var(--color-text-subtle);
  border: 0;
  cursor: pointer;

  &:hover {
    stroke: var(--color-text);
  }

  svg {
    height: 16px;
    width: 16px;
    stroke-width: 2px;
  }
}

.header {
  text-align: center;
  padding-top: 44px;
  height: 60px;
}

.content {
  overflow: auto;
  width: 100%;

  .has-body-scroll & {
    height: calc(100vh - 90px);
  }
}

.body {
  .has-body-scroll & {
    padding: 0 0 44px;
  }
}
