.container {
  position: relative;
  display: flex;
  border-top: 1px solid grey;
  padding: 20px;
}

.body {
  flex: 1 1 auto;

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
    font-weight: 400;
  }

  section + section {
    margin-top: 24px;
  }
}

.extra {
  flex: 0 1 auto;
  max-width: 160px;
  margin-left: 48px;
}

.info {
  span {
    color: grey;
  }

  & + & {
    margin-top: 12px;
  }
}

.expandButton {
  position: absolute;
  right: 0;
  bottom: 20px;
  background-color: transparent;
  border: 0;

  .container:global(.is-expanded) {
    transform: rotate(180deg);
    transform-origin: 50% 50%;
  }
}
