.grid {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(4, 1fr);
  margin: 44px 0;
}

.gridItem {
  position: relative;
  text-align: center;
  height: 362px;
  padding: 274px 16px 16px;
  border-radius: 7px;
  color: white;

  &::after {
    content: '';
    position: absolute;
    z-index: 2;
    border-radius: 7px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      to bottom,
      rgba(16, 15, 48, 0.5),
      rgba(16, 15, 48, 0.5) 25%,
      rgba(16, 15, 48, 0.85) 100%
    );
  }
}

.itemTitle {
  position: relative;
  z-index: 3;
  font-size: 18px;
  font-family: var(--ff-serif);
  font-weight: 700;
}

.itemImage {
  overflow: hidden;
  position: absolute;
  border-radius: 7px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  img {
    position: relative;
    z-index: 1;
    height: 100%;
    object-fit: cover;
  }
}
