.container {
  display: flex;
  align-items: stretch;
}

.worksHeader {
  position: relative;
  z-index: calc(var(--z-index-aside) - 1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  flex: 0 0 auto;
  width: 100%;
  padding: 22px 20px 0 40px;
  background-color: white;
}

.worksHeaderRight {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  > button {
    @media (max-width: 859px) {
      position: fixed;
      z-index: 1000;
      right: 12px;
      bottom: 12px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    }
  }
}

.worksHeaderPageCount {
  font-size: 14px;
  color: var(--color-text-inactive);
}

.works {
  flex: 1 1 auto;
  width: 100%;
  padding: 0 0 0 20px;
  overflow: auto;
}

.worksScroll {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.worksScroll article:last-child {
  margin-bottom: 80px;
}

.map {
  position: relative;
  height: calc(100vh - 60px); /* Hauteur définie moins espace pour header */
  min-height: 600px; /* Hauteur minimum pour garantir l'affichage */
  width: 100%;
  overflow: hidden; /* Empêche le scroll et l'espace vide */

  > button {
    position: absolute;
    z-index: 1000;
    bottom: 12px;
    right: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);

    @media (min-width: 860px) {
      bottom: auto;
      right: 20px;
      top: 22px;
    }
  }
}

.sortMenu {
  flex: 1 1 auto;
  min-width: 260px;
  font-size: 14px;
  color: var(--color-text-inactive);
  margin-right: 24px;
}

.sortMenu > div {
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.sortMenu > div > label {
  margin: 0;
}

.sortMenu > div > div {
  flex: 1 1 auto;
  margin: 0 0 0 8px;
}
