.container {
  display: flex;
  align-items: stretch;
}

.worksHeader {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex: 0 0 auto;
  width: 100%;
  padding : 22px 20px;
}

.worksHeaderPageCount {
  font-size: 14px;
  color: var(--color-text-inactive);
}

.works {
  flex: 1 1 auto;
  width: 100%;
  overflow: auto;
}

.worksScroll {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.worksScroll article:last-child {
  margin-bottom: 80px;
}

.map {
  position: relative;
  height: 100%;
}

.map > button {
  position: absolute;
  z-index: 1000;
  right: 20px;
  top: 22px;
}