.container {
}

.header {
  position: relative;
  background: var(--color-brand);
  background: linear-gradient(
      90deg,
      rgba(32, 55, 177, 0.8) 0%,
      rgba(32, 55, 177, 0.3) 100%
    ),
    url('/home-background.png') top left no-repeat;
  background-size: cover;
  color: white;
  position: relative;
  padding: 30px 36px 42px;
  margin: 0 auto;
  text-align: center;

  > * {
    margin: 0 auto;
  }
}

.LanguageSelector {
  position: absolute;
  top: 18px;
  right: 36px;
}

.title {
  font-family: var(--ff-serif);
  font-size: 36px;
  line-height: 1.3;
  max-width: 710px;
  margin-bottom: 12px;

  @media (min-width: 460px) {
    font-size: 50px;
  }
}

.subtitle {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 18px;
}

.releaseDate {
  text-transform: uppercase;
  background-color: var(--color-brand);
  display: inline-block;
  border-radius: 7px;
  font-weight: 500;
  padding: 8px 16px;
  margin-bottom: 18px;
}

.subscribeLabel {
  max-width: 380px;
  margin-bottom: 18px;
}

.subscribeForm {
  max-width: 480px;
  border-radius: 9px;
  box-shadow: 0 4px 19px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.25s ease-in-out;
  text-align: center;
  margin-bottom: 30px;

  @media (min-width: 460px) {
    display: flex;
  }

  &:focus-within {
    box-shadow: 0 4px 19px var(--color-brand);
  }

  input {
    font-family: var(--ff-sans);
    width: 100%;
    padding: 18px;
    font-size: 14px;
    border: none;
    border-radius: 7px 7px 0 0;
    text-align: center;

    @media (min-width: 460px) {
      flex-grow: 2;
      font-size: 18px;
      border-radius: 7px 0 0 7px;
      text-align: left;
    }

    &:focus {
      outline: none;
    }
  }

  button {
    font-family: var(--ff-sans);
    cursor: pointer;
    border: none;
    padding: 18px;
    font-size: 14px;
    background: var(--color-brand);
    color: white;
    border-radius: 0 0 7px 7px;
    transition: background-color 0.15s ease-in-out;
    width: 100%;

    @media (min-width: 460px) {
      width: auto;
      font-size: 18px;
      border-radius: 0 7px 7px 0;
    }

    &:hover {
      background-color: var(--color-brand-light);
    }
  }
}

.formMessage,
.formMessageError {
  display: inline-block;
  border-radius: 6px;
  background-color: var(--color-brand-light);
  color: white;
  padding: 10px 16px;
  margin: 0 0 24px;
  max-width: 360px;
}

.formMessageError {
  background-color: #db331c;
}

.followProjectNews {
  font-weight: 700;
  margin-bottom: 80px;

  a {
    text-decoration: underline;
  }
}

.partnersBar {
  display: inline-flex;
  flex-direction: column;
  width: auto;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  border-radius: 10px;
  background-color: white;

  @media (min-width: 566px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.partnersBarTitle {
  color: var(--color-text-inactive);
  text-transform: uppercase;
  margin: 0 0 12px 0;
  font-size: 14px;
  font-weight: 400;

  @media (min-width: 566px) {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 30px 0 0;
  }
}

.partnersBarLogos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: block;
    margin-bottom: 8px;

    @media (min-width: 452px) {
      margin-bottom: 0;
    }
  }

  li + li {
    margin-left: 16px;
  }

  img {
    display: block;
  }
}

.content {
  background-color: var(--color-bg-depth-1);
}

.intro {
  display: flex;
  max-width: 1160px;
  margin: 0 auto;
  padding: 60px 36px;

  a {
    display: block;
    flex: 0 0 auto;
    display: flex;
    align-items: center;

    &:hover {
      color: var(--color-brand-light);
    }
  }

  a + a {
    margin-left: 15px;

    &::before {
      content: '|';
      margin-right: 15px;
      color: var(--color-text-inactive);
    }
  }
}

.introContent {
  flex: 1 1 auto;
}

.introSubtitle {
  font-size: 12px;
  font-weight: 400;
  margin: 0 0 6px;
  color: var(--color-text-inactive);
}

.introTitle {
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 34px;
}

.introContentLinks {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;
  color: var(--color-brand);
  margin-top: 36px;
}

.linkIcon {
  background-color: var(--color-brand);
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;

  &:hover {
    background-color: var(--color-brand-light);
  }

  span + & {
    margin-left: 8px;
  }

  svg {
    fill: white;
  }
}

.buttonLink {
  background-color: var(--color-brand);
  padding: 8px 22px;
  border-radius: 20px;
  color: white;
  transition: background-color 0.15s ease-in-out;

  .introContent &:hover {
    background-color: var(--color-brand-light);
    color: white;
  }
}

.introMedia {
  display: none;
  flex: 1 1 auto;
  max-width: 538px;
  min-width: calc(50% - 40px);
  margin-left: 40px;

  @media (min-width: 560px) {
    display: block;
  }

  @media (min-width: 880px) {
    min-width: calc(50% - 80px);
    margin-left: 80px;
  }

  img {
    display: block;
    max-width: 100%;
  }
}

.introMediaCaption {
  text-align: right;
  font-size: 12px;
  color: var(--color-text-inactive);
}
