.workHeader {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex: 0 0 auto;
  width: 100%;
  margin: 0 auto;
}

.work {
  flex: 1 1 auto;
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  overflow: auto;
}
